/* ----------Sidebar---------- */
.mobNav {
  display: none !important;
}

.header_item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_item .custom_search {
  position: relative;
  margin: 0px 10px 0px 0px;
}

.user-check-in-out-option-container {
  border-radius: 100px;
  border: 1px solid #008be2;
  padding: 7px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-check-in-out-option-container > p {
  font-size: 12px;
  color: #000;
}

.user-check-in-out-option-container > svg {
  font-size: 1rem;
  cursor: pointer;
}

.user-check-in-out-switch .rs-toggle-presentation {
  color: #7e92a2 !important;
}

.check-out-reason-dialog-container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.check-out-reason-dialog-container > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #092c4c;
}

.check-out-reason-dialog-container > div:first-child > p {
  font-size: 16px;
  font-weight: 600;
}

.check-out-reason-dialog-container > div:first-child > svg {
  cursor: pointer;
}

.check-out-reason-dialog-container > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.notifications {
  margin: 0px 8px;
  cursor: pointer;
}

/* ======= header Navbar =======*/
.topMenu li {
  padding: 0px 2px;
}

.topMenu span {
  font-size: 0.875rem;
  font-weight: 500;
}

/* ====menu==== */
.topMenuList {
  position: relative;
}

.topMenuList:hover .subMenu {
  display: block;
}

.submenuWrapper .subMenu {
  display: none;
  position: absolute;
  top: 44px;
  left: 4px;
  width: 220px;
  background: #ffffff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 16px 0px;
}

.subMenu .subMenulist {
  display: block;
  padding: 5px 14px;
  color: #555555;
  font-size: 0.875rem;
  font-weight: 500;
}

.subMenu .subMenulist:hover {
  background-color: #f4f4f4;
}

/* ====Mega Menu==== */

.megaMenu {
  position: absolute;
  top: 50px;
  left: 4px;
  min-width: 100%;
  background: transparent;
  transition: all 0.5s ease;
}

.megaMenu .megamenu-content {
  background-color: #ffffff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 16px;
}

.megaMenu .megamenu-content .menuListContent {
  margin: 10px 14px;
}

.menuListContent .list-heading {
  color: 121848;
  font-size: 16px;
  font-weight: 600;
}

.megaMenu .megamenu-content .subMenulist {
  display: block;
  margin: 12px 0px;
  color: #555555;
  font-size: 0.875rem;
  font-weight: 500;
}

.switch-account-email {
  color: green;
}

.notification-sub-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 3px;
}

.notification-item {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  padding: 30px 16px 25px 16px;
  border-radius: 16px;
  align-items: center;
  gap: 16px;
  min-height: 55px;
}

.notification-item-realtime {
  display: flex;
  background-color: #fff;

  align-items: center;
  gap: 16px;
  min-height: 55px;
  margin-top: -8px;
}

.realtime-toastitify .Toastify__toast {
  border-radius: 16px;
  border: 2px solid #008be2;
  background: #fff;
  box-shadow: 13px 10px 40px 0px rgba(82, 82, 82, 0.15);
}

.notification-red-dot {
  position: relative;
  top: 32px;
  left: 10px;
}

.notification-red-dot-realtime {
  position: relative;
  top: -8px;
  left: 3px;
}

.notification-cross-icon {
  cursor: pointer;
  position: relative;
  top: 35px;
  right: -315px;
}

.notification-cross-icon:hover {
  border-radius: 5px;

  background-color: #eeeaea;
}

.notification-inner {
  font-weight: 700 !important;
  line-height: 17px !important;
  font-size: 11px;
}

#notification-time {
  font-weight: normal;
  font-size: 11px !important;
  color: #5f5f5f !important;
}

.mark-as-read {
  text-decoration: underline;
  cursor: pointer;
}

.notification-box {
  position: absolute;
  width: 392px;
  top: 60px;
  right: 70px;
  max-height: 496px;
  border: 1px solid #c9c8c8;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.38) !important;
  border-radius: 8px;
  background: #f7f9fe !important;
}

.notification-unread-identifier {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007fff;
  display: inline-block;
}

.loading-animation-for-notification {
  display: flex;
  justify-content: center;
  min-height: 48vh;
  align-items: center;
}

.notification-end-message {
  text-align: center;
  margin-top: 15px;
}

.rs-picker-cascader-menu-column {
  width: 250px !important;
  max-height: 200px !important;
  height: auto !important;
}

.Toastify__toast-container {
}

/* search-box */
.search-box {
  opacity: 1;
  background: #ffffff;
  position: absolute;
  top: 55px;
  transition: opacity 279ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 186ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: 183.99px 0px;
  transform: none;
  width: 600px;
  border-radius: 10px 10px 0px 0px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.search-box-close-icon {
  cursor: pointer;
  width: 27px;
  height: 27px;
  color: #008be2;
  padding: 3px;
}

.search-box-search-icon {
  width: 27px;
  height: 27px;
  color: #008be2;
  padding: 3px;
}

.search-box-lead-details {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}

#search-box-icons {
  color: #008ce0;
  font-size: 18px;
}

.search-box-single-data {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header_item .MuiInputBase-root {
  /* border: 1px solid #008BE2; */
  padding-right: 0px;
}

.search-query-highlight {
  font-weight: bold;
  color: #008ce0 !important;
}

.loading-animation-for-search {
  display: flex;
  justify-content: center;
  min-height: 58vh;
  align-items: center;
}

.search-lead-image {
  border-radius: 50% !important;
  width: 32px !important;
  height: 32px !important;
  margin: auto !important;
  color: #008ce0 !important;
  background: #ffffff !important;
  margin-bottom: 5px !important;
}

.Navbar-all-box-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

@media only screen and (max-width: 1199px) {
  .mobNav {
    display: block !important;
  }

  .desktopNav {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .topMenu {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .topMenu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .notification-box {
    width: 100%;
    right: 0px;
  }
}

@media only screen and (max-width: 830px) {
  .search-box {
    width: 100%;
    right: 0px;
  }
}

#notification-icon-image {
  width: 95%;
  margin-right: -10px;
}

@media only screen and (max-width: 470px) {
  #notification-icon-image {
    width: 20px;
  }

  .notification-box {
    width: 300px;
    right: 0px;
    right: 40px;
  }

  .notification-red-dot {
    position: relative;
    top: 135px;
    left: 17px;
  }

  .notification-cross-icon {
    cursor: pointer;
    position: relative;
    top: 35px;
    right: -225px;
  }
}

@keyframes rotate-right-to-left {
  0% {
    transform: rotate(10deg);
  }

  12.5% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(10deg);
  }

  37.5% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  62.5% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.notification-icon {
  animation: rotate-right-to-left 3s ease-in-out infinite;
  animation-delay: 10s;
}

.notification-icon:hover {
  animation-play-state: paused;
}

/* .notification-icon.animate {
  animation: rotate-left-to-right 3s ease-in-out infinite;
  animation-delay: 3s;
} */
.table-data-count-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.table-data-count-container h6 {
  font-weight: 600 !important;
}

.table-data-count-container button {
  padding: 4px;
}

.table-data-count-container svg {
  font-size: 16px;
}

.table-row-sticky {
  position: sticky;
  left: 0;
  background-color: white;
}

.hide-date-range-picker-field {
  visibility: hidden;
  position: absolute;
  top: -40px;
  left: 0px;
}

.table-row-sticky {
  position: sticky;
  left: 0;
  background-color: white;
}

.navbar-box-container-nav {
  position: fixed;
  top: 30px;
  right: 0;
  width: 100%;
  height: auto;
  padding-top: 6px;
  /* z-index: 101; */
}

.Navbar-headline-text {
  margin-left: 55px;
}

.navbar-container-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.admin-bottom-Nav {
  padding: 10px 0;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-right: 15px;
}

@media (min-width: 350px) and (max-width: 400px) {
  .Navbar-all-box-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* margin-top: 10px; */
  }

  .Navbar-headline-text {
    margin-left: 0px;
  }

  .navbar-container-data {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .navbar-box-container-nav {
    position: fixed !important;
    background-color: #fff !important;
    top: 0px !important;
    right: 0;
    width: 100%;
    height: auto;
    padding-top: 10px !important;
    z-index: 101 !important;
  }

  .admin-bottom-Nav {
    padding: 10px 0;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
  }
}

@media (min-width: 401px) and (max-width: 900px) {
  .Navbar-all-box-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* margin-top: 10px; */
  }

  .Navbar-headline-text {
    margin-left: 0px;
  }

  .navbar-container-data {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .navbar-box-container-nav {
    position: fixed;
    background-color: #fff !important;
    top: 0px !important;
    right: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    z-index: 101 !important;
  }

  .admin-bottom-Nav {
    padding: 10px 0;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
  }
}

@media (min-width: 901px) and (max-width: 1199px) {
  .Navbar-all-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 10px; */
    /* margin-left: -100px; */
  }

  .Navbar-headline-text {
    margin-left: 0px;
  }

  .navbar-container-data {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .navbar-box-container-nav {
    position: fixed;
    background-color: #fff !important;
    top: 0px !important;
    right: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    z-index: 101 !important;
  }

  .admin-bottom-Nav {
    padding: 10px 0;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 15px;
  }
}

.Navbar-search-Icon {
  /* margin-top: 5px;
  margin-right: 10px; */
  cursor: pointer;
}

.select-picker .rs-picker-toggle {
  border: 1px solid #e6e8f0 !important;
  border-radius: 8px !important;
}

.select-picker .rs-picker-toggle:hover {
  border: 1px solid #008be2 !important;
}

.check-out-reason-dialog-container .select-picker .rs-picker-toggle {
  border: 1px solid #b3d2e2 !important;
}

.check-out-reason-dialog-container .select-picker span {
  color: #000;
}

.view-only {
  display: none;
}

@media (min-width: 350px) and (max-width: 600px) {
  .navbar-toggle-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-display-not-show {
    display: none;
  }

  .mobile-display-show {
    display: block;
  }

  .view-only {
    display: block;
  }
}

.profile-photo-Navbar {
  border-radius: 10px;
}
.current-user-name-and-designation-container > p:first-child {
  font-size: 18px;
  white-space: nowrap;
  text-transform: capitalize;
}
.current-user-name-and-designation-container > p:last-child {
  font-weight: 800;
  font-size: 12px;
}
.check-out-box-container{
  display: flex;
  align-items: center;
  gap: 5px;
}
.check-out-label-text-size{
  font-size: 14px;
}