.area{
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    margin: 10px;
}
.add-feature-arrow-back{
    border: 1px solid #146eb4;
    color: #146eb4;
}
.add-feature-title-text{
    text-align: center;
    font-size: 23px !important;
    white-space: nowrap;
    padding-left: -30px;
}
.add-feature-dialog-header-text-container{
    display: flex;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.add-feature-dialog-point-step{
    display: grid;
    place-items: center;
    color: #146eb4;
    border: 1px solid #146eb4;
    width: 25px;
    height: 25px;
    font-weight: 600;
}
.add-feature-dialog-new-feature-name-text-container{
    display: flex;
    gap: 20px;
    font-weight: 800;
    margin-top: 40px !important;
    margin-bottom: 10px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}
.add-new-feature-delete-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-feature-show-new-feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.add-feature-button-box-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    align-items: center;
}
.add-feature-selected-sub-menu-text{
    text-align: center;
    font-weight: 600 !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    font-size: 17px !important;
}
.add-feature-show-all-new-feature-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-feature-back-button{
    box-shadow: 0 5px 5px #3c3c3c42 !important;
    background-color: white !important;
    height: 32px !important;
    font-size: 16px;
}
.add-feature-all-feature-name-field{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(10, 157, 37, 0.16) 0px 2px 2px;
}
.add-feature-back-submit-button{
    box-shadow: 0 5px 5px #3c3c3c42 !important;
    background-color: white;
    height: 32px;
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
}
.add-feature-page-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.add-feature-submit-box-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.add-feature-submit-design-box-container{
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    opacity: 90%;
    box-shadow: 0 5px 8px #67666642 !important;
}
.close-button-Add-feature-dialog-box{
    display: grid;
    place-items: end;
    margin-top: 13px;
    margin-right: 10px;
}
.add-feature-stepper-design-container>.css-1bw0nnu-MuiStep-root>.css-ascpo7-MuiStepLabel-root>.css-vnkopk-MuiStepLabel-iconContainer>.Mui-active{
color: #2d86b3 !important;
}
.add-feature-stepper-design-container>.css-1bw0nnu-MuiStep-root>.css-ascpo7-MuiStepLabel-root>.css-vnkopk-MuiStepLabel-iconContainer>.Mui-completed {
color: #60b372 !important;
}
.add-features-submit-button-design{
    background-color: #c2fbd7 !important;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px !important;
    color: green !important;
    cursor: pointer !important;
    padding: 7px 20px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    
}