#advance-filter-button {
  border-radius: 30px;
  border: 1px solid #008be2;
  background: #fff;
  color: #092c4c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  height: 38px;
  min-width: 158px;
}
.advance-filter-box {
  overflow-y: scroll;
  max-height: 100%;
}
.advance-filter-background {
  height: 100%;
  background: #fafbff;
}

.advance-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}
.advance-filter-first-block {
  width: 100%;
  min-height: 118px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  padding: 10px;
  margin-top: 15px;
}

.advance-filter-first-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adv-filter-block-inner-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 2px;
}

.adv-filter-field-operator-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adv-filter-field-name-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.adv-filter-add-condition-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#advance-filter-add-condition-button {
  border-radius: 50px;
  border: 1px solid #008be2;
  background: #fff;
  color: #008be2;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.8px;
  height: 30px;
}
.adv-filter-bottom-btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#adv-filter-reset-btn {
  border-radius: 50px;
  border: 1px solid #008be2;
  background: #fff;
  color: #008be2;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.8px;
  padding: 8px 24px;
}
#adv-filter-apply-btn {
  border-radius: 50px;
  border: 1px solid #008be2;
  background: #008be2;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.8px;
  padding: 8px 24px;
}

.advance-filter-category-box-background {
  height: 450px;
  background: #fafbff;
}

.avd-filter-category-box {
  width: 140px;
  padding: 8px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.avd-filter-select-category-text {
  color: #333 !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  margin-bottom: 8px !important;
  padding: 8px 0px 8px 28px !important;
}
.avd-filter-category-name {
  color: #333 !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.avd-filter-category-name-active {
  color: #fff !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.avd-filter-category-box-active {
  width: 140px;
  padding: 8px 20px;
  border-radius: 8px;
  background: #008be2;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.adv-filter-category-dialog-search-box {
  width: 354px;
  border-radius: 8px;
  border: 1px solid #a8c9e5;
}
.adv-filter-category-field-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 18px;
}

.adv-filter-category-field-box > svg {
  font-size: 10px;
  color: #ffc048;
}
.adv-filter-values-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
  .adv-filter-loading-animation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

