.automation-campaign-tab-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid rgba(43, 43, 43, 0.1);
}

.third-design {
  display: inline-flex !important;
  -webkit-box-flex: 0 !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  background-color: #95b23b !important;
  color: #ffffff !important;
  letter-spacing: 1px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  padding: 2px 14px !important;
  border-radius: 12px !important;
  margin-right: 5px;
  margin-top: 5px;
}

.fourth-design {
  display: inline-flex !important;
  -webkit-box-flex: 0 !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  background-color: #ab47bc !important;
  color: #ffffff;
  letter-spacing: 1px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  padding: 2px 14px !important;
  border-radius: 12px !important;
  margin-right: 5px;
  margin-top: 5px;
}

.fifth-design {
  display: inline-flex !important;
  -webkit-box-flex: 0 !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  background-color: #14B8A6 !important;
  color: #ffffff;
  letter-spacing: 1px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  padding: 2px 14px !important;
  border-radius: 12px !important;
  margin-right: 5px;
  margin-top: 5px;
}

.sixth-design {
  display: inline-flex !important;
  -webkit-box-flex: 0 !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  background-color: #277BC0 !important;
  color: #ffffff;
  letter-spacing: 1px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  padding: 2px 14px !important;
  border-radius: 12px !important;
  margin-right: 5px;
  margin-top: 5px;
}

.card {
  border-radius: 25px !important;
  padding: 5px 10px;
}

.automation-campaign-rule-name {
  font-weight: 500;
  color: #2C75E1;
  text-transform: capitalize;
  cursor: pointer;
}

.last-modified-on {
  color: #e2807e;
}

#search-icon:hover {
  cursor: pointer;
}
.all-rules-header-box-container{
  margin-top: 30px;
 }

 @media (min-width: 350px) and (max-width: 600px) {
  .all-rules-header-box-container{
   margin-top: 50px;
  }
 }
 @media (min-width: 601px) and (max-width: 900px) {
  .all-rules-header-box-container{
    margin-top: 180px;
  }

}
@media (min-width: 901px) and (max-width: 1199px) {
  .all-rules-header-box-container{
   margin-top: 100px;
  }
 }