.billing-header-box-container {
  margin-top: 40px;
}
@media (min-width: 350px) and (max-width: 600px) {
  .billing-header-box-container {
    margin-top: 30px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .billing-header-box-container {
    margin-top: 180px;
  }
}
@media (min-width: 901px) and (max-width: 1199px) {
  .billing-header-box-container {
    margin-top: 100px;
  }
}
