.css-z8n25c-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-z8n25c-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-z8n25c-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
    padding-left: 10px !important;
}