.custom-slide {
    color: gray;
  }
  
  .custom-slide.active {
    color: black;
  }
  .carousel-slider {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
  }
  
  .carousel-slider button {
    margin-bottom: 10px;
  }
  .css-1cwe5m4 {
    text-align: center;
    margin-top: 80px;
    max-width: 100% !important;
    margin-left: 10px;
    margin-right: 10px;
   
  }
  .hr-container{
    width: 100%;
    
  }
   hr{
    border: 0.5px solid #D9D9D9;
  }

  /* .arrowBackIcon{
    height: 0% !important;
  } */
  .slot-card{
    cursor:  pointer !important;
  }
  .take-slot-button-text{
    font-size: 10px;
    white-space: nowrap;
    background-color: white;
    margin-top: 3px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    color: #039BDC;
    cursor: pointer;
  }
  .name-text-data{
    font-size: 10px;
    color: white;
    cursor: pointer;
  }
  .text-data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 10px;
  }
  .active-box-data{
    height: 9px;
    width: 9px;
    border: 1px solid white;
    margin-left: 10px;
  }
  .loading-animation {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar_mod_name_panel_container{
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .calendar_mod_name_text{
    color: white;
    font-size: 14px;
  }
  .calendar-Mod-Month-show{
    font-weight: 500;
    display: grid;
    justify-content: flex-end;
    margin-top: -60px;
  }
  .drawer-calendar-minWidth{
    min-width: 600px;
  }
  .calendarTimeData-text-container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 18px;
  }
  @media (min-width: 350px) and (max-width: 900px) {
    .drawer-calendar-minWidth{
      min-width: 700px;
    }
  }
  @media (min-width: 350px) and (max-width: 499px) {
    .arrow-forward-icon{
      margin-left: 40px;
      padding-right: 6px;
    }
  }
  @media (min-width: 500px) and (max-width: 600px) {
    .arrow-forward-icon{
      margin-left: 40px;
    }
  }
  @media (min-width: 350px) and (max-width: 500px) {
    .calendar_mod_name_panel_container{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    .calendar_mod_name_text{
      margin-left: 10px;
    }
  }