.counsellor-qa-tab-wrapper {
  display: flex;
  padding: 32px 47px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}

.counsellor-qa-tab-wrapper .segmented-button {
  width: 200px;
}

.counsellor-qa-tab-wrapper.single-tab .segmented-button {
  width: 100px;
}

.full-width {
  width: 100%;
}

.call-list-table .header-text {
  color: #7e92a2;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background-color: #fff;
  padding: 15px 0px;
  border-bottom: 1px solid #eee;
}

.counsellor-cell-value,
.call-list-cell-value {
  color: #092c4c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.counsellor-row td,
.qa-row td,
.call-list-row td {
  border-bottom: 1px solid #eee;
  padding: 15px 0px;
}

.call-list-row td {
  padding-right: 25px;
}

.page-header-filters {
  background-color: #fff;
  width: auto;
  min-height: 165px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 16px 35px 30px 53px;
  gap: 25px;
}

.header-section-wrapper2,
.header-section-wrapper1 {
  display: flex;
  row-gap: 44px;
  column-gap: 20px;
  flex-wrap: wrap;
  padding-top: 9px;
  justify-content: space-between;
  flex-grow: 1;
}

.total-calls-horizontal-representation {
  width: 250px;
}

.call-list-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.call-list-filter .rs-stack-item {
  font-size: 12px !important;
}

.call-list-filter .call-list-fiter-date-range svg {
  color: #008be2;
}

.single-line-text {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.inbound {
  background: #cef;
  color: #008be2;
}

.outbound {
  background: rgba(15, 171, 189, 0.22);
  color: #0fabbd;
}

.success-status {
  background: #cef;
  color: #008be2;
}

.error-status {
  background: rgba(251, 80, 80, 0.12);
  color: #fb5050;
}

.review-btn {
  color: #092c4c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.capsule {
  display: inline-flex;
  height: 21px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.align-row {
  display: flex;
  align-items: center;
}

.clickable-text {
  cursor: pointer;
}

.header-section-wrapper-rejected {
  display: flex;
  row-gap: 74px;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.call-list-btn {
  display: flex;
  width: 175px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 8px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  color: #8e8e93;
  border: 1px solid #7e92a2;
}

.dropdown-icon {
  padding-left: 20px;
}

.qc-date-picker {
  width: 150px;
  height: 38px;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.call-list-header-section-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #a19f9f;
}

.call-list-header-section-value {
  width: 54px;
  height: 25px;
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.call-list-header-section-sub-value {
  color: #333;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.align-items-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
}

.qa-box {
  width: 250px;
}

.call-box {
  width: 100px;
}

/* Call Review css */
.call-review-container {
  padding: 25px;
  width: 50vw;
}
.call-review-container .call-review-history {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
  flex-wrap: wrap;
}
.call-review-container .call-review-history > div {
  min-width: 300px;
}
.call-review-container .call-review-history > div > p:first-child {
  color: #008ce0;
  font-weight: 600;
  font-size: 14px;
}

.call-review-container .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.call-review-container .label-text {
  color: #121828;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.call-review-container .close-icon {
  color: #1c1b1f;
  height: 15px;
  width: 15px;
}

.qc-status-wrapper {
  position: relative;
}

.qc-status-label {
  color: #000;
  text-align: center;
  font-size: 14.63px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  z-index: 11;
  top: -8px;
  left: 8px;
  background: #fff;
  padding: 0 4px;
}

.call-review-container .qc-status-dropdown {
  width: 175px;
  height: 38px;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #a8c9e5;
  background-color: transparent;
  color: #000;
  font-size: 14.63px;
  font-style: normal;
  font-weight: 400;
}

.call-review-container .qc-status-dropdown svg {
  color: #0583d2;
}

.call-review-container .qc-status-dropdown + .rs-dropdown-menu {
  width: 100%;
}

.call-review-page-box {
  width: 745px;
  height: 288px;
}

.call-review-sub-item {
  border-radius: 8px;
  border: 1px solid #c2dbe8;
  padding: 0 13px;
  position: relative;
}

.call-review-sub-item-text {
  width: 237.631px;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
}

.call-review-sub-item-number {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding-top: 10px;
}

.call-review-slider {
  color: #33a3e6;
  padding: 10px 0px;
}

.call-review-slider .call-review-thumb {
  color: #fff;
  outline: 2px solid #33a3e6;
  height: 16px;
  width: 16px;
}

.percent-label-container {
  position: absolute;
  right: 15px;
  top: -10px;
  background-color: #fff;
}

.percent-label {
  color: #008ce0;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.call-review-score-text {
  justify-content: center;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.call-review-score-raiting-container {
  position: absolute;
  left: 15px;
  top: -8px;
  background-color: #fff;
}

.call-review-raiting-value {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.call-review-raiting-sub-value {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.call-review-rating-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #fff;
  box-shadow: 15px 7px 30px 0px rgba(228, 228, 228, 0.5);
}

.call-review-remark-container {
  width: 100%;
  border-radius: 8px;
}

.text-field-control.Mui-focused .remarks-outline {
  border: 2px solid #008ce0;
  color: #008ce0;
}

.rating-container {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-review-submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  padding: 10px;
  /* border-radius: 8px;
    border: 1px solid #C2DBE8;
*/
}

.call-review-submit-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  border-radius: 50px;
  background: #0484d2;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.8px;
}

.call-review-submit-btn:hover {
  opacity: 0.8;
  color: #fff;
  background-color: #0484d2;
}

.call-review-submit-btn-disabled {
  background-color: #eee;
}

.call-list-filter .key-select-picker .rs-picker-toggle {
  border-color: #e6e8f0;
}

.call-type-filter {
  width: 175px;
  height: 38px;
}

.call-list-filter .date-root {
  height: 38px;
}

.call-list-filter .date-root label {
  color: #8e8e93;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 2px;
}

.call-list-filter .date-root .MuiInputBase-root {
  height: 36px;
}

.call-list-filter .multi-select-picker-placeholder {
  font-size: 14.63px;
  color: #8e8e93;
  font-size: 14.63px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rejected-header {
  margin-top: 50px;
}

@media only screen and (max-width: 560px) {
  .qa-box {
    width: 100px;
  }

  .call-box {
    width: 100px;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  .page-header-filters {
    padding: 16px 35px 30px 35px;
    flex-direction: column-reverse;
  }
}

@media (min-width: 375px) and (max-width: 1024px) {
  .header-section-wrapper1 hr {
    display: none;
  }

  .header-section-wrapper2 hr {
    display: none;
  }
}

@media (min-width: 560px) and (max-width: 1250px) {
  .header-section-wrapper1 hr {
    display: none;
  }

  .header-section-wrapper1 {
    justify-content: flex-start;
  }

  .header-section-wrapper1 .align-items-col,
  .header-section-wrapper1 .call-box {
    width: 121px;
  }

  .header-section-wrapper1 .qa-box {
    width: 250px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-section-wrapper2 {
    justify-content: flex-start;
  }

  .header-section-wrapper2 hr {
    display: none;
  }

  .header-section-wrapper2 .align-items-col,
  .header-section-wrapper2 .call-box {
    width: 125px;
  }
}

@media (min-width: 1440px) and (max-width: 1610px) {
  .align-items-col {
    width: 100px;
  }

  .call-box {
    width: 100px;
  }

  .qa-box {
    width: 250px;
  }
}

@media only screen and (max-width: 950px) {
  .header-section-wrapper-rejected {
    justify-content: flex-start;
  }

  .header-section-wrapper-rejected hr {
    display: none;
  }

  .header-section-wrapper-rejected .align-items-col,
  .header-section-wrapper-rejected .call-box {
    width: 130px;
  }

  .rejected-header {
    margin-top: 175px;
  }
}
/* call review media queries */
@media only screen and (max-width: 767px) {
  .call-review-container .qc-status-dropdown {
    width: auto;
  }

  .rating-container {
    flex-direction: column;
    row-gap: 5px;
  }

  .rating-container.call-review-sub-item {
    height: auto;
  }
}
