.client-onboarding-form-card-container {
  border-radius: 20px;
  padding: 2rem;
  margin: 56px 24px;
}

.info-code {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px 4px;
  font-family: monospace;
  color: #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.info-icon-position {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-submission-btn-container {
  display: flex;
  justify-content: flex-end;
}

.lead-stage-add-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
  align-items: center;
}

.module-subscription-table {
  white-space: nowrap;
}

.module-subscription-table > thead th {
  color: #7e92a2 !important;
  font-size: 1rem;
}

.module-subscription-table > tbody tr td {
  border-bottom: 1px solid #dddddd;
}

.edit-course-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Field Type Chip CSS */
.chip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  width: fit-content;
}

.chip.text {
  background-color: #e0f2f1;
  color: #00796b;
}

.chip.email {
  background-color: #e3f2fd;
  color: #1976d2;
}

.chip.number {
  background-color: #ede7f6;
  color: #5e35b1;
}

.chip.select {
  background-color: #fff3e0;
  color: #e65100;
}

.chip.checkbox {
  background-color: #fce4ec;
  color: #d81b60;
}

.chip.radio {
  background-color: #ffccbc;
  color: #bf360c;
}

.chip.date {
  background-color: #d7ccc8;
  color: #4e342e;
}

.chip.file {
  background-color: #cfd8dc;
  color: #263238;
}

.chip.Required {
  border: 1px solid #fecaca;
  background-color: #fef2f2;
  color: #b91c1c;
}

.chip.Optional {
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  color: #374151;
}

.configure-dependent-field-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.add-dependent-field-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.client-onboarding-flex-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.client-onboarding-table-header {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.dynamic-tab-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.reorder-tab-content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 1rem 0;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field-validation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.feature-permission-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-permission-heading p {
  font-size: 20px;
}
.feature-permission-card {
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  width: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.feature-tree-container {
  width: 100%;
  height: 100vh;
}
.feature-action-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.view-all-college-resolved-action {
  color: #0583d2;
  font-size: 11px;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 100px;
  background: #cef;
  display: grid;
  place-items: center;
  width: 90px;
  cursor: pointer;
}
