.call-summary-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
.call-summary-search-and-filter {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.call-summary-search-box-text-field input {
  padding: 7px 14px !important;
}
.call-summary-search-box-text-field label {
  margin-top: -2px;
}
.call-summary-search-box-text-field input,
.call-summary-search-box-text-field label,
.call-summary-search-box-text-field svg {
  color: rgb(39, 150, 240);
}

.call-summary-search-box-text-field {
  animation: large-search-box2 0.3s ease-in-out forwards;
}

@keyframes large-search-box2 {
  from {
    width: 70px;
  }
  to {
    width: 200px;
  }
}
.call-summary-search-box-text-field {
  max-width: 200px;
}
.call-summary-details-table {
  white-space: nowrap;
}
.call-summary-details-table thead,
.communication-summary-table-container thead,
.common-communication-table thead {
  background-color: transparent !important;
}
.call-summary-details-table thead tr th,
.communication-summary-table-container thead,
tr th,
.common-communication-table tr th {
  color: #7e92a2 !important;
  border-bottom: 1px solid rgb(240, 239, 239) !important;
}
.call-summary-details-table tbody tr td,
.communication-summary-table-container tbody tr td,
.common-communication-table tr td {
  color: #092c4c !important;
  border-bottom: 1px solid rgb(240, 239, 239);
  white-space: nowrap;
}
.call-summary-lead-name > p {
  font-size: 14px;
}
.call-summary-lead-name p:first-child {
  cursor: pointer;
}
.call-summary-lead-name P:last-child {
  color: rgba(9, 44, 76, 0.8);
}
.call-summary-details-table .call-score {
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
.call-summary-details-table .common-status {
  font-weight: 400;
  padding: 3px 10px;
  font-size: 11px;
  border-radius: 100px;
}
.call-summary-details-table .answered,
.call-summary-details-table .Accepted {
  background: #cef;
  color: #0583d2;
}
.call-summary-details-table .not-answered,
.call-summary-details-table .missed,
.call-summary-details-table .Rejected {
  background: #fb50501f;
  color: #fb5050;
}
.assign-application-button {
  border-radius: 30px;
  border: 1px solid #008be2;
  background: #fff;
  padding: 8px 25px;
}
.assign-application-radio-option {
  color: black;
}
.assign-application-radio-option label span:last-child {
  font-size: 14px;
}
.assign-application-actions {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.missed-call-details-container {
  border-radius: 25px;
  padding: 1.5rem 2rem;
  position: relative;
  overflow: visible;
}
.missed-call-details-container .common-flex-layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.missed-call-table-filter-container {
  justify-content: space-between;
}
.missed-call-table-filter-container > div:first-child > p:first-child {
  color: #231f20;
  font-size: 18px;
  font-weight: 700;
}
.missed-call-table-filter-container > div:first-child > p:last-child {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 300;
}
.missed-caller-student-name {
  color: #092c4c;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  cursor: pointer;
}
.counsellor-name-and-checkout-time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.counsellor-name-and-checkout-time > p {
  font-size: 14px;
}
.counsellor-name-and-checkout-time > .checkout-time {
  border-radius: 100px;
  background: rgba(15, 171, 189, 0.22);
  padding: 2px 10px;
  color: #0fabbd;
  font-size: 11px;
}
.communication-summary-table-container {
  margin: 1.2rem 0;
  padding: 1.5rem;
  border-radius: 20px;
  overflow: visible;
  position: relative;
}
.call-quality-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.call-quality-filter-container div:first-child p:first-child {
  color: #231f20;
}
.call-quality-filter-container div:first-child p:last-child {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 100;
}
.call-quality-filter-container > div:last-child {
  display: flex;
  align-items: center;
  gap: 6px;
}
.call-quality-table-data {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}
.call-quality-table-data > p {
  font-size: 14px;
  font-weight: 600;
}
.call-info-table-header {
  display: flex;
}
.empty-element {
  width: 30px;
  display: inline-block;
}
.communication-summary-details-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.communication-summary-details-container .common-summary-details-container {
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  overflow: visible;
}
.common-tabs-and-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.common-tabs-and-filter-container > div:last-child {
  display: flex;
  gap: 8px;
}
.common-tabs-and-filter-container > div:first-child:hover > p {
  transform: scale(1);
}
.common-tabs-and-filter-container > div:first-child > p {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 300;
  transform: scale(0);
  transition: 0.4s ease-in;
}
.common-communication-table tr td {
  font-weight: 600;
}
.common-table-name-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.communication-details-drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.communication-details-drawer-header > svg {
  cursor: pointer;
}

.message-not-delivered-count {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.message-not-delivered-count > svg {
  font-size: 16px;
  cursor: pointer;
  color: #1c2332;
}
.message-not-delivered-table-row > td {
  font-weight: 400 !important;
  font-size: 15px;
}
.followup-calender-and-progress-bar-container {
  margin-bottom: 24px;
  padding: 24px;
}
.calender-and-progress-divider {
  width: 1px;
  height: 86%;
  background-color: #b3dcf6;
}
.followup-selected-date {
  border: 1px solid #018de1;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.followup-details-calendar-container .MuiDayCalendar-header,
.followup-details-calendar-container .MuiDayCalendar-weekContainer {
  justify-content: space-between !important;
}
.followup-details-calendar-container .MuiDateCalendar-root {
  width: 100%;
}
.calendar-header-container,
.calendar-header-container > div,
.calendar-header-container > div > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-header-container > div > p {
  font-size: 15px;
  font-weight: 600;
  color: rgba(94, 94, 94, 0.897);
  margin-right: -4px;
}
.calendar-header-container > div {
  gap: 8px;
  cursor: pointer;
}
.calendar-header-container > div svg,
.calendar-header-container > div > p > svg {
  color: rgba(94, 94, 94, 0.897);
  font-size: 20px;
}
.followup-details-calendar-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.followup-details-calendar-filter > p {
  color: #092c4c;
  font-size: 15px;
  cursor: pointer;
}
.followup-calender-and-progress-bar-container > div {
  height: 350px;
}

.followup-details-progress {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1rem;
  height: 300px;
}
.followup-details-progress > p > div {
  color: #09a8ec;
}
.followup-details-progress > div > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.followup-details-progress > div > div:first-child > p {
  font-weight: 600;
}
.followup-details-progress > div > div:first-child > p:first-child {
  font-size: 12px;
}
.followup-details-progress > div > div:first-child > p {
  font-size: 14px;
}
