.confirmation-dialog {
    min-width: 350px;
    padding: 24px 20px;
}

.confirmation-dialog-title {
    color: #092C4C;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 0;
}

.confirmation-dialog-content {
    padding: 10px 0px;
    position: relative;
    top: 10px
}

.confirmation-ok-btn {
    width: 70px;
    height: 25px;
    border-radius: 30px;
    background: #008CE0;
    color: #FFFFFF;
    margin: 0px 5px;
    font-size: 12px;
    font-weight: 400;
}

.confirmation-ok-btn:hover {
    opacity: 0.8;
    background: #008CE0;
    color: #FFFFFF;
}

.confirmation-cancel-btn {
    width: 70px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #008BE2;
    background: #FFF;
    margin: 0px 5px;
    font-size: 12px;
    font-weight: 400;
}

.confirmation-dialog-actions {
    padding-bottom: 0px;
    display:flex;
    justify-content: center;
    padding-top: 15px;

}
