.counsellor-quick-view-card {
  border-radius: 20px;
  /* padding: 17px 10px; */
  border: 1px solid #11bed2;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  background: #fff;
  min-height: 130px;
}

.counsellor-quick-view-date-range {
  padding-top: 10px;
  padding-right: 35px;
  display: flex;
  float: right;
}

.counsellor-quick-view-date-range-text {
  font-weight: 300;
  font-size: 15px;
  color: #9e9e9e;
}

.counsellor-quick-view-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  gap: 1.5rem;
  width: 100%;
}
.counsellor-quick-view-title-design {
  font-size: 16px;
  color: #a19f9f;
  font-weight: 400;
}
.counsellor-quick-view-header-box {
  width: 150px;
}
.counsellor-quick-view-vertical-representation {
  max-width: 300px;
  margin-top: 5px;
  min-height: 60px;
}
.counsellor-quick-view-vertical-line {
  background: rgba(0, 139, 226, 0.3);
  height: 115px;
  width: 1px;
}
.counsellor-quick-view-filter-box {
  display: flex;
  align-self: flex-start;
  gap: 5px;
}
#counsellor-quick-view-value {
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 4px;
}

@media screen and (max-width: 800px) {
  .counsellor-quick-view-vertical-line {
    display: none;
  }
}
