.counsellor-performance-report-box {
  fill: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  background: #fff;
  padding: 25px 20px 15px 20px;
  border-radius: 15px;
  min-height: 410px;
}
.counsellor-performance-report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counsellor-performance-report-title {
  color: #231f20;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.counsellor-performance-report-date {
  color: #9e9e9e;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.counsellor-performance-report-icon-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counsellor-performance-block-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 9px 0px;
}
.counsellor-performance-field {
  color: #092c4c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}
.counsellor-performance-field-value {
  color: #092c4c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 20%;
}
