.followup-calendar.MuiDateCalendar-root {
  width: 100%;
}

.followup-calendar .MuiYearCalendar-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  justify-content: center;
}

.followup-calendar .header-root {
  margin-top: 0px;
  padding-left: 12px;
  width: 135px;
}

.followup-calendar .MuiDayCalendar-header {
  justify-content: space-between;
}

.followup-calendar .MuiDayCalendar-weekContainer {
  justify-content: space-between;
}

.followup-calendar .MuiDayCalendar-loadingContainer {
  justify-content: space-between;
}

.followup-calendar .MuiDayCalendar-loadingContainer .MuiDayCalendarSkeleton-root {
  width: 100%;
}

.followup-calendar .MuiDayCalendar-loadingContainer .MuiDayCalendarSkeleton-root .MuiDayCalendarSkeleton-week {
  justify-content: space-between;
}

.followup-calendar .header-label-container {
  position: relative;
  left: 30px;
  z-index: 1;
}

.followup-calendar .header-root div:nth-child(2),
.followup-calendar .MuiPickersArrowSwitcher-root {
  position: absolute;
  z-index: 1;
}

.followup-calendar .next-month-arrow-btn {
  position: relative;
  left: 68px;
}

.followup-calendar .previos-month-arrow-btn {
  position: relative;
  right: 10px;
}

.counselor-followup-conainer {
  padding: 18px 24px !important;
}

.counselor-followup-conainer .left-section {
  padding-top: 14px;
  padding-left: 25px;
}

.counselor-followup-conainer .right-section {
  padding-left: 0;
  padding-top: 14px;
  height: 290px;
}

.displayed-date-wrapper {
  padding: 9px 5px;
  margin-bottom: 28px;
  border-radius: 6px;
  border: 1px solid #018de1;
  position: relative;
  width: 180px;
  cursor: pointer;
}

.selected-date-label {
  color: #231f20;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.day-dot-tooltip {
  border-radius: 5px;
  background: #008be2;
  box-shadow: 2px 2px 6px 0px #999;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.circle-icon {
  height: 10px;
  width: 10px;
  color: #008be2;
  right: 8px;
  top: 2px;
  position: relative;
}

.dot-badge {
  top: 2px;
  right: 2px;
}

.followup-calendar .selected-calendar-day {
  background-color: #cceeff;
  color: #008be2;
}

.header-align-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 30px;
}

.current-date-button {
  color: #007fff;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Noto Sans-Regular", Helvetica;
  text-wrap: nowrap;
}

.up-down-arrow {
  color: #6B7280;
}

.year-button {
  color: #231f20;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Noto Sans-Regular", Helvetica;
}

.date-tabs-wrapper {
  display: flex;
  justify-content: space-between;
}

.justify-space-between {
  justify-content: space-between;
}


.date-tabs-wrapper .segmented-button {
  width: 234px;

}

.left-arrow-icon {
  padding: 0px;
}

.right-arrow-icon {
  padding: 0px;
}

.hourly-chart-tooltip {
  display: inline-flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 2px 2px 6px 0px #999;
}

.hourly-chart-tooltip .leads-assigned-text {
  color: #008BE2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.hourly-chart-tooltip .leads-called-text {
  color: #00465F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.xaxis-label {
  width: 10px !important;
  white-space: pre-line;
}

.xaxis-tick-label {
  color: #A19F9F;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.yaxis-tick-label {
  color: #A19F9F;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ml-10 {
  margin-left: 10px;
}

.charts-date-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 225px;
}