.search .leadDetails {
  font-weight: 600;
  margin: 12px 0px;
  color: #555555;
}
.activities-leads {
  font-weight: 600;
  margin: 12px 0px;
  color: #555555;
}

.selected_column {
  padding: 10px 0px 10px 10px;
}
.selected_column .selected_haeding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}
.selected_column .selected_haeding .selected_txt {
  font-weight: 600;
  color: #555555;
}
.selected_column .selected_haeding .drag_to {
  color: #cccccc;
  font-weight: 300;
}
.counsellor_table_lead_details_main {
  max-height: 90%;
  overflow-y: scroll;
  position: absolute;
  width: 50%;
  scrollbar-width: thin;
}
.counsellor_table_lead_details_main::-webkit-scrollbar {
  width: 8px;
}

.counsellor_table_lead_details_main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.counsellor_table_lead_details_main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #dddddd;
  border-radius: 20px;
}
.counsellor_table_lead_details_main .labalName {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px;
  margin-right: 0px;
}
.counsellor_table_lead_details_main .labalName:last-child {
  border-bottom: 0px;
}
.selected_column .slt_columns {
  margin-top: 8px;
  padding: 16px 0px 16px 16px;
}

.selected_column .slt_columns .col_selection .column_selected {
  border: 1px solid #dddddd;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.selected_column .slt_columns .col_selection .column_selected.times {
  background-color: #edeff0;
}
.selected_column .slt_columns .col_selection {
  position: relative;
}
.selected_column .slt_columns .col_selection .close_times {
  position: absolute;
  top: 11px;
  right: 6px;
  font-size: 18px;
  cursor: pointer;
}
.drawer-header {
  padding: 14px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #5048e5; */
}
.drawer-header .d_title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.column_footer {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
  line-height: 62px;
  display: flex;
  justify-content: space-between;
  padding: 9px 12px;
  border-top: 1px solid #dddddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.counsellor-productivity-box{
  padding: 10px 20px 25px 20px;
}

.productivity-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.productivity-report-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.productivity-filter-option{
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 8px 0px;
  flex-wrap: wrap;
}
.productivity-filter-option .rs-picker-toggle-wrapper {
  max-width: 200px;
  margin: 10px 0px 0px 8px;
}
.selected-icon-button{
  color: #3498ff;
}
.pagination-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -24px;
}

.common-table-head{
  background-color: #808080;
  color: white !important;
}
.common-table-row:nth-child(odd){
  background-color: #D9D9D9;
}
.common-table-row:first-child{
  font-size: 14px;
}
.common-table-first-column{
  background: #AEAAAA;
  color: black;
}
.common-table-total-row{
  background-color: #e5edf1;
}