.createWhatsAppTemplateWrapper {
  width: auto;
}

.whatsapp-heading {
  color: #474e51;
  font-size: 22px !important;
  padding-bottom: 10px;
}

.basic-settings {
  padding: 30px 0px 10px 0px;
}

.basic-settings .basic-settings-txt {
  color: #474e51;
  font-size: 18px;
  font-weight: 500;
}

.save-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-next .tem-button {
  margin-left: 10px;
  min-width: 90px;
  height: 40px;
  margin-top: 10px;
}

.save-next .save-btn {
  border-radius: 30px;
  background: #008CE0;
  display: flex;
  width: 78px;
  height: 34px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
 .disabled-btn {
  border-radius: 30px;
  background: #f0f1f2 !important;
  display: flex;
  width: 78px;
  height: 34px;
  justify-content: center;
  align-items: center;
  color: #b1afaf !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.save-next .publish-btn {
  border-radius: 30px;
  border: 1px solid #008BE2;
  background: #FFF;
  display: flex;
  width: 78px;
  height: 34px;
  justify-content: center;
  align-items: center;
  color: #092C4C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

/* -----------SMS template-------- */
.sms-info-main {
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-top: 24px;
  padding: 16px 16px 16px 24px;
  position: relative;
}

.sms-info-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 6px solid #62b0dc;
  height: 100%;
  border-radius: 8px;
}

.sms-info-main .info-para {
  color: #1876aa;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}

.sms-info-main .para-content {
  padding-left: 30px;
  padding-bottom: 8px;
  color: #1876aa;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}

.sms-info-main .para-content .circle-icons {
  font-size: 7px;
  margin-right: 12px;
  margin-top: 7px;
}

.sms-info-main .refers {
  color: #929292;
  font-weight: 600;
}

.content-box-length {
  color: green;
}

.leef-lottie-animation-loader {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sms-heading-box {
  display: flex;
  align-items: center;
}

.sms-heading {
  color: #474e51;
  font-size: 22px !important;
}

.sms-and-whatsapp-merge-tag-add-container {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.sms-whatsapp-merge-tag-container {
  max-height: 300px;
  overflow-y: scroll;
}

.sms-whatsapp-merge-tag-container::-webkit-scrollbar {
  width: 8px;
}

.sms-whatsapp-merge-tag-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.sms-whatsapp-merge-tag-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.sms-editor-container {
  position: relative;
}

.sms-editor-container p {
  margin: 0;
}

.sms-editor-container .tiptap {
  border: 1px solid #e5e5ea;
  padding: 16.5px 14px;
  border-radius: 8px;
  min-height: 350px;
}

.sms-editor-container .tiptap:focus {
  border: 1px solid #3498ff;
  outline-style: solid;
  outline-color: #3498ff;
}

.sms-editor-container .tiptap:hover {
  border: 1px solid #3498ff;
}

.sms-editor-label-container {
  position: relative;
  z-index: 1;
}

.sms-editor-label-container>span {
  position: absolute;
  left: 10px;
  padding: 0px 5px;
  font-size: 12px;
}

.sms-editor-label {
  background-color: white;
  animation: for-label 0.2s ease forwards;
  font-size: 12px;
  color: #3498ff;
}

.sms-editor-placeholder {
  animation: for-placeholder 0.2s ease forwards;
  color: #8E8E93;
}

@keyframes for-label {
  from {
    top: 18px;
  }

  to {
    top: -8px;
  }
}

@keyframes for-placeholder {
  from {
    top: -8px;
  }

  to {
    top: 18px;
  }
}

#sms-whatsapp-merge-tag {
  background-color: rgb(162, 255, 162);
  border: 1px dotted gray;
}

.character-count {
  display: flex;
  align-items: center;
  color: #68cef8;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.character-count--danger {
  color: #fb5151;
}

.character-count--warning {
  color: #fce149;
}

.character-count--graph {
  margin-right: 0.5rem;
}

.character-count--text {
  color: #008CE0;
}

.sms-merge-tag {
  border: 1px dashed rgba(106, 184, 229, 0.8);
  border-radius: 0.4rem;
  padding: 0px 8px;
  font-size: 14px;
  background-color: #ebf9f9;
  display: inline-block;
  margin-bottom: 5px;
}

.react-renderer .merge-tag-container {
  padding: 0.5rem;
  position: relative;
  border-radius: 0.5rem;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  font-size: 0.9rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: scroll;
}

.react-renderer .merge-tag-item {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  background: transparent;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  padding: 0.2rem 0.4rem;
}

.react-renderer .merge-tag-item:hover {
  color: #1876aa;
}

.merge-tag-item.is-selected {
  border: 1px solid #e5e5ea;
}

.react-renderer .merge-tag-container::-webkit-scrollbar {
  width: 8px;
}

.react-renderer .merge-tag-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.react-renderer .merge-tag-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.sms-editor-helper-text {
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  bottom: -20px;
  color: #65748b;
}

.sms-editor-helper-text>code {
  background-color: #f5f5f5;
  padding: 0px 6px;
}

@media screen and (max-width: 550px) {
  .createWhatsAppTemplateWrapper {
    width: 100%;
  }
}
.add-more-item-button{
  height: 35px;
}
.whats-app-template-box-container{
  display: grid;
  place-items: center;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
margin-left: 30px;
margin-right: 30px;
}