.data-segment-quick-view-card {
  border-radius: 20px;
  padding: 17px 10px;
  border: 1px solid #11bed2;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  background: #fff;
  min-height: auto;
}

.data-segment-quick-view-date-range {
  padding-top: 10px;
  padding-right: 35px;
  display: flex;
  float: right;
}

.data-segment-quick-view-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 1.5rem;
  gap: 1.5rem;
}
.data-segment-quick-view-title-design {
  font-size: 16px;
  color: #a19f9f;
  font-weight: 400;
}
.data-segment-quick-view-header-box {
  width: 200px;
  height: 100px;
}
.data-segment-quick-view-vertical-representation {
  max-width: 300px;
  margin-top: 5px;
  min-height: 60px;
}
.data-segment-quick-view-vertical-line {
  background: rgba(0, 139, 226, 0.3);
  height: 115px;
  width: 1px;
}
.data-segment-quick-view-filter-box {
  display: flex;
  align-self: flex-start;
  gap: 35px;
}
#data-segment-quick-view-value {
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 4px;
}

#manage-automation-btn {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #a9c9e5;
  color: #008be2;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.8px;
}

/* checkbox css */
.form-group {
  display: block;
  margin: 10px 2px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid #7e92a2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid #008be2;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-group input:checked + label:before {
  border: 1.5px solid #008be2;
}
.segment-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.segment-details-search-and-add-column,
.add-lead-to-segment-header,
.search-and-add-student,
.segment-details-date-range {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.data-segment-details-search-box svg {
  color: #008be2;
}
.add-lead-to-segment-header {
  justify-content: space-between;
}
.add-lead-to-segment-header > p {
  font-weight: 600;
  font-size: 16px;
}

.data-segment-details-search-box {
  animation: large-search-box 0.4s ease-in-out forwards;
}
.segment-details-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.search-and-add-student > button {
  border-radius: 50px;
  border: 1px solid #a9c9e5;
  color: #008be2;
  padding: 8px 30px;
  font-size: 12px;
}
.segment-details-summary-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.segment-details-date-range {
  gap: 5px;
  align-self: flex-start;
}
.segment-details-date-range img:last-child {
  cursor: pointer;
}

.details-create-on-date {
  color: #a19f9f;
}
.segment-details-summary-header .create-date-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.segment-details-summary-header .create-date-container svg {
  color: #008be2;
  font-size: 45px;
}
.segment-name-and-date-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.segment-name-and-date-container > div > div {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.telephony-header-filter {
  margin-left: -12px;
}
.telephony-header-filter .rs-picker-toggle {
  background-color: transparent !important;
}
.telephony-header-filter span {
  font-size: 18px;
  font-weight: 500;
  color: #797979 !important;
}
@keyframes large-search-box {
  from {
    width: 70px;
  }
  to {
    width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .data-segment-quick-view-vertical-line {
    display: none;
  }
}
.DataSegment-container-box {
  margin-top: 40px;
}
@media (min-width: 350px) and (max-width: 600px) {
  .DataSegment-container-box {
    margin-top: 30px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .DataSegment-container-box {
    margin-top: 180px;
  }
}
@media (min-width: 901px) and (max-width: 1199px) {
  .DataSegment-container-box {
    margin-top: 100px;
  }
}
.access-denied-box {
  width: 100%;
  display: grid;
  place-items: center;
}
.access-denied-box-text {
  font-size: 40px;
  font-weight: bold;
  color: #333;
}
