.search_byrequest_field {
  height: 40px !important;

}

.filter_btn_design {
  margin-left: 20px !important;
  /* height: 45px; */
}

.box_height {
  height: 40px !important;
}

.download-request-report-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.filter-container-of-download-report-req .rs-picker-toggle-wrapper {
  width: 200px !important;
  margin: 8px 8px 8px 0px;
}

.filter-container-of-download-report-req {
  padding: 8px 16px;
  display: block;
}

.selected-icon {
  color: #3498ff
}

@media screen and (min-width: 650px) {
  .filter-container-of-download-report-req {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-container-of-download-report-req .rs-picker-toggle-wrapper {
    width: 200px !important;
    margin: 8px 0px 8px 8px;
  }
}
.download-request-header-box-container{
  margin-top: 40px;
 }
@media (min-width: 350px) and (max-width: 600px) {
 
  .download-request-header-box-container{
    margin-top: 30px;
   }
 }
@media (min-width: 601px) and (max-width: 900px) {
 
  .download-request-header-box-container{
    margin-top: 180px;
   }
 }
@media (min-width: 901px) and (max-width: 1199px) {
  
  .download-request-header-box-container{
    margin-top: 100px;
   }
 }