.error-pages-layout {
  text-align: center;
  padding: 20px 40px;
}

.error-pages-title {
  font-size: 60px !important;
}

.error-pages-subtitle {
  color: #65748b;
  font-size: 20px;
}

.error-pages-image {
  margin-top: 40px;
  height: 50vh;
  margin-left: auto;
}

.error-pages-back-button-link {
  text-decoration: none !important;
}

.error-pages-back-button {
  margin-top: 50px !important;
}

/* media query */
@media screen and (max-width: 600px) {
  .error-pages-title {
    font-size: 20px !important;
  }

  .error-pages-image {
    width: 100% !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .error-pages-title {
    font-size: 40px !important;
  }

  .error-pages-image {
    width: 100% !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .error-pages-title {
    font-size: 60px !important;
  }

  .error-pages-image {
    width: 100% !important;
  }
}
