#error-card-container {
    display: flex;
    justify-content: center;
    align-items: center !important;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-card {
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0px 0px 8px rgb(187, 187, 187);
    max-width: 600px;
}

.error-card-heading {
    margin-bottom: 1.5rem;
}

.error-icon {
    font-size: 3.5rem !important;
    color: red;
}