.faq-drawer-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-drawer-headline-text {
  color: #121828;
  font-size: 18px;
  font-weight: 500;
}

.faq-drawer-content-box {
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  margin-top: 18px;
}
.faq-drawer-search-field {
  border-radius: 10px;
  border: 1px solid #a8c9e5;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}
.faq-drawer-button-box {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.faq-drawer-button-text {
  color: #092c4c;
  text-align: center;
  font-size: 14px;
  font-weight: 400 !important;
  letter-spacing: 0.1px;
  border-radius: 8px;
  border: 1px solid #008be2;
  white-space: nowrap;
}
.faq-drawer-button-text-active {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400 !important;
  letter-spacing: 0.1px;
  border-radius: 8px;
  border: 1px solid #008be2;
  white-space: nowrap;
}
.faq-drawer-question-text {
  color: #0a2d4c;
  font-size: 16px;
  font-weight: 600 !important;
}
.faq-drawer-question-answer-text {
  color: #092c4c;
  text-align: justify;
}
.faq-drawer-question-answer-text-date {
  color: rgba(60, 60, 67, 0.5);
  font-size: 10px;
  font-weight: 500;
}
.faq-drawer-close-button-box {
  display: grid;
  place-items: center;
  margin-top: 30px;
}
@media (min-width: 350px) and (max-width: 600px) {
  .faq-drawer-button-box {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.faq-drawer-close-button {
  background: #008ce0 !important;
  width: 93px !important;
  height: 38px !important;
  padding: 10px 20px !important;
}
.faq-drawer-close-minimize-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.faq-drawer-close-minimize-icon {
  margin-top: -15px;
  font-size: 30px;
  cursor: pointer;
}
.faq-drawer-base-not-found {
  display: flex;
  justify-content: center;
  min-height: 15vh;
  align-items: center;
}
.faq-drawer-question-box {
  height: 38vh;
  overflow: auto;
}
