.app-funnel-container {
    padding: 32px 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.funnel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
}

.circle {
    width: 306px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #008BE2;
    background: #FFF;
    box-shadow: 8px 8px 20px 0px rgba(227, 227, 227, 0.90) inset, -8px -8px 16px 0px rgba(255, 255, 255, 0.90) inset, 8px -8px 16px 0px rgba(227, 227, 227, 0.20) inset, -8px 8px 16px 0px rgba(227, 227, 227, 0.20) inset, -1px -1px 2px 0px rgba(227, 227, 227, 0.50), 1px 1px 2px 0px rgba(255, 255, 255, 0.30);
}

.top10 {
    position: relative;
    top: -10px;
}

.top20 {
    top: -18px;
    position: relative;
}


.relative-position {
    position: relative;
}

.leads-section {
    top: -10px;
    z-index: 2;
}

.verified-lead-section {
    top: -20px;
    z-index: 2;
}

.paid-application-section {
    top: -29px;
    z-index: 2;
}

.submitted-section {
    top: -37px;
    z-index: 2;
}

.enrollment-section {
    top: -42px;
    z-index: 2;
}

.count {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.label {
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    width: 100%;
}

.mb-30 {
    margin-bottom: 30px;
}

.title-text {
    color: #231F20;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.source-dropdown {
    width: 131.943px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.source-dropdown.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
    color: #A8C9E5;
    border: 2px solid #A8C9E5;
}

.date-range-text {
    color: #9E9E9E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 8px;
    height: 18px;
}

.arrow-down {
    color: #2090D7;
}

.source-dropdown-label {
    color: #2090D7;
}

.lead-percentage-legend {
    position: absolute;
    right: -35px;
    top: 58px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.verified-lead-percentage-legend {
    top: 105px;
    position: absolute;
    right: -35px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.legend-text {
    color: #023E8A;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 48px;
}

.paid-lead-percentage-legend {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    right: -37px;
    top: 153px;
}

.submitted-percentage-legend{
    position: absolute;
    z-index: 1;
    right: -33px;
    top: 204px;
    display: flex;
    align-items: center;
}
