.head-counselor-list-header {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
}

.head-counselor-list-count {
    padding-top: 0px;
    padding-bottom: 0px;
}

.head-counselor-list-count span {
    font-size: 1rem;
}