:root {
  --interviewed-candidate-primary-color: #09bbd0;
  --interviewed-candidate-secondary-color: #008be2;
  --interviewed-candidate-tertiary-color: #dcf8ff;
  --interviewed-candidate-fourth-color: #f0fcff;
}
.interviewed-candidate-header {
  background-color: var(--interviewed-candidate-primary-color);
  color: white;
  border-radius: 10px;
}
.interviewed-header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.interviewed-vertical-line {
  background: #008be2;
  height: 100px;
  width: 1px;
}
/* .interviewed-header-item > .line3 {
  display: none;
} */

.interviewed-candidate-card-container {
  border: 1px solid #a8c9e5;
  padding: 1.3rem 0.8rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.interviewed-course {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  font-weight: 500 !important;
}
.interviewed-course > svg {
  color: var(--interviewed-candidate-secondary-color);
}
.interviewed-score-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.interviewed-score-details > span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 450;
}
.interviewed-candidate-action {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 0.5rem;
}
.interviewed-candidate-action button {
  font-size: 13px;
  font-weight: 600;
  border-radius: 50px;
  padding: 4px 10px;
}
.interviewed-candidate-action button:last-child {
  border: 1px solid var(--interviewed-candidate-secondary-color);
  color: var(--interviewed-candidate-secondary-color);
}
.interviewed-candidate-action button:first-child {
  color: white;
  background-color: var(--interviewed-candidate-secondary-color);
}
.reviewed-candidates-container {
  border: 1px solid #a8c9e5;
  border-radius: 10px;
  margin-top: 1rem;
}
.reviewed-candidate-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.reviewed-candidate-header p {
  font-weight: 400;
  font-size: 15px;
}
.reviewed-candidates-container table {
  white-space: nowrap;
}
.reviewed-candidates-container table thead {
  background-color: var(--interviewed-candidate-tertiary-color);
}
.reviewed-candidates-container thead tr th {
  text-transform: capitalize !important;
  padding: 1.5rem;
}
.reviewed-candidates-container tbody tr td {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
}
.reviewed-candidates-container tbody tr td svg {
  font-size: 18px;
}
.reviewed-candidates-container tbody tr td .selection-status {
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  padding: 2px 10px;
}
.reviewed-candidates-container tbody tr td .Selected {
  background-color: #cceeff;
  color: var(--interviewed-candidate-secondary-color);
}
.reviewed-candidates-container tbody tr td .Rejected {
  background-color: #ffdfdd;
  color: #e06259;
}
.reviewed-candidates-container tbody tr td .Hold {
  background: #ffd4ac7e;
  color: #f7953a;
}
.reviewed-candidates-container tbody tr td .Shortlisted {
  background: rgb(177, 255, 177);
  color: green;
}
.reviewed-candidates-container thead tr {
  font-weight: 400;
}
.reviewed-candidates-container tbody tr:nth-child(even) {
  background-color: var(--interviewed-candidate-fourth-color);
}
@media screen and (max-width: 835px) {
  .interviewed-vertical-line.line3 {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .interviewed-vertical-line.line2 {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .interviewed-vertical-line.line1 {
    display: none;
  }
}
