.key-indicator-inside-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7px;
}

.key-select-picker .rs-picker-toggle {
  border: 1px solid #a9c9e5;
  border-radius: 6px;
}

.key-select-picker .rs-picker-toggle-caret {
  color: #0583d2;
}

.key-Indicator-box-design {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* css styles for counsellor dashboard */
.counsellor-key-indicators-box {
  height: 100%;
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.key-indicator-picker-box {
  margin-left: -5px;
}

.key-indicator-picker-box .rs-picker-toggle-value {
  font-size: 17px;
  color: #797979 !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.key-indicator-picker-box .rs-picker-toggle {
  background-color: transparent !important;
}

.key-indicator-picker-box .rs-picker-toggle .rs-picker-toggle-caret {
  color: #008be2;
}

.key-indicator-lead-churn-text-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.key-indicator-value-arrow-box {
  display: flex;
  gap: 16px;
  align-items: center;
}

#counsellor-key-indicator-value {
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 4px;
}
@media (min-width: 600px) and (max-width: 999px) {
  .key-indicator-grid-box{
    flex-wrap: nowrap !important;
  }
}