.lead-process-details-container {
  border-radius: 1.5rem;
  margin: 48px 24px 0px 24px;
  padding: 2rem;
  overflow: visible;
  position: relative;
}
.lead-process-details-header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.lead-process-details-header-container > div:first-child {
  display: flex;
}
.lead-process-details-header-container
  > div:first-child
  > div:hover
  > p:last-child {
  transform: scale(1);
}
.lead-process-details-header-container > div:first-child > svg {
  cursor: pointer;
}
.lead-process-details-header-container > div:first-child > div > p:last-child {
  color: #9e9e9e;
  font-weight: 300;
  font-size: 14px;
  transform: scale(0);
  transition: 0.4s ease-in;
}
