.management-list-table-head-item {
  white-space: nowrap;
  font-weight: 500;
  color: #7e92a2 !important;
}
.management-list-paper-box-container {
  padding: 40px;
  border-radius: 20px !important;
  box-shadow: 0px 10px 60px 0px #e2ecf9 !important;
  margin-top: 24px;
  background-color: #ffffff;
}
.pagination-container-management-dashboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.add-course-button-management {
  border-radius: 20px !important;
  font-weight: normal !important;
  height: 25px !important;
  background-color: #cef !important;
  border: none !important;
  font-size: 11px;
}
.management-closed-status-box {
  background: #ffdfdd;
  border-radius: 100px;
  padding: 0px 10px;
  color: #e06259;
  text-align: center;
  height: 25px !important;
  font-size: 11px;
  font-weight: normal !important;
  border: none !important;
}
.management-create-college-dialog-close-box {
  display: grid;
  place-items: end;
  margin-top: 10px;
  margin-right: 10px;
}
.management-create-college-dialog-close-box-new{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  min-width: 400px;
}
.button-text-design-update {
  flex-direction: column;
  border: none;
  color: black;
}
.button-text-design-update:hover {
  flex-direction: column;
  border: none;
  color: black;
}
.management-allocated-items {
  display: flex;
  flex-wrap: wrap;
}
.management-manager-course-length-box {
  width: 20px;
  height: 15px;
  background-color: rgba(224, 98, 89, 1);
  display: grid;
  place-items: center;
}
.college-name-text-design{
  border-bottom: 1px solid #E6E8F0;
}
.college-name-text-bottom{
  border-bottom: 1px solid #E6E8F0;
}
.college-name-text-dialog{
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  padding-left: 15px;
}
.college-live-student-url-text{
  font-size: 17px;
  font-weight: 600;
}
.college-show-url-box{
  padding: 20px;
}
.url-not-available-box{
  display: grid;
  place-items: center;
}
.url-not-available-text{
  font-size: 18px;
  font-weight: 600;
}
.create-account-title-box{
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}
.create-account-form-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0px 10px 0px;
}
.create-account-from-card{
  padding: 25px;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5) !important;;
}
.management-request-of-text{
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  opacity: 65%;
  color: #2b7ba6;
  background-color: #EBF3F5;
  font-size: 12px;
  border: 1px solid #79B3D1;

}
.management-select{
  border-radius: 50px;
  font-size: 11px;
  
}
