.MOD-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.mod-profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mod-text-notification {
  width: 13px;
  height: 13px;
  font-size: 10px;
  background-color: #e06259;
  color: white;
  margin-top: 3px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.mod-photo-box-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mod-create-slot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
.mod-create-panel-button {
  background-color: #09bbd0;
  white-space: nowrap;
}
.mod-create-panel-button:hover {
  background-color: #0bafc2;
}
.mod-button-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.mod-photoProfile-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mod-box-data-info-container {
  text-align: center;
  background-color: #008ce0;
  color: white;
  border-radius: 8px;
  padding-bottom: 27px;
}
.mod-student-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mod-box-button-invite-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.mod-box-button-invite-container-for-many {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.MOD-action-container {
  position: relative;
  width: 100%;
  z-index: 20;
}
.MOD-action-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: red;
}
.MOD-action-card {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px;
  padding: 1.5rem;
  position: fixed;
  bottom: 8%;
}
.MOD-action-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 14px;
}
.MOD-action-content {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.invite-link-box-container {
  margin-top: 40px;
  height: 80vh;
  width: 100%;
  background-color: #e8feff;
  border-radius: 5px;
}
.drawer-box-body {
  padding: 30px 20px;
}
.button-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.invite-link-cancel-button {
  white-space: nowrap;
  border: 1px solid #039bdc;
}
.invite-student-text-box {
  display: grid;
  place-items: end;
}
.invite-student-text {
  font-size: 20px;
  font-weight: 400;
}
.unAssignee-button-design-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}
.rs-drawer-backdrop.rs-anim-in {
  opacity: 0.5;
}
/* position: relative;
  width: 100%;
  z-index: 20;
}
.MOD-action-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: red;
}
.MOD-action-card {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px;
  padding: 1.5rem;
  position: fixed;
  bottom: 8%;
}
.MOD-action-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 14px;
}
.MOD-action-content {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.invite-link-box-container {
  margin-top: 40px;
  height: 80vh;
  width: 100%;
  background-color: #e8feff;
  border-radius: 5px;
}
.drawer-box-body {
  padding: 30px 20px;
}
.button-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.invite-link-cancel-button {
  white-space: nowrap;
  border: 1px solid #039bdc;
}
.invite-student-text-box {
  display: grid;
  place-items: end;
}
.invite-student-text {
  font-size: 20px;
  font-weight: 400;
}
.unAssignee-button-design-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
} */

/* create slot drawer styles */
.create-slot-drawer {
  overflow-y: scroll;
  max-height: 100%;
}
.create-slot-drawer-close-icon {
  display: flex;
  justify-content: flex-end;
}
.create-slot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  flex-wrap: wrap;
}
.create-slot-header h5 {
  color: #039bdc;
}
.create-slot-flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.create-slot-drawer-button-box {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.create-slot-drawer-button {
  padding: 10px 24px;
  border-radius: 50px;
  background: #039bdc;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.8px;
}
.panel-slot-details-box {
  display: flex;
  flex-direction: column;
}
.panel-slot-count {
  color: #039bdc;
  font-size: 20px;
  font-weight: 600;
}
.panel-duration-box {
  width: 100%;
  border: 1px solid #e5e5ea;
  border-radius: 5px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  color: #8e8e93;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.panel-duration-box:hover {
  border: 1px solid #3498ff;
}
.panel-duration-time-selection-box {
  position: absolute;
  background: #fff;
  min-width: 284px;
  z-index: 100;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  padding: 13px 10px 15px 10px;
  top: 186px;
}
.panel-duration-time-selection-inner-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.time-picker-error-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline-box-container-interview-navbar{
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (min-width: 350px) and (max-width: 600px) {
  .calendar-box-container {
    min-width: 300px;
    overflow-x: scroll;
  }
}
@media (min-width: 600px) and (max-width: 3200px) {
  .close-icon-drawer-calendar {
    display: none;
  }
}
@media (min-width: 350px) and (max-width: 750px) {
  .MOD-card-margin-container {
    margin: 20px;
    /* min-width: 600px; */
  }
  .mod-box-button-invite-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media (min-width: 350px) and (max-width: 900px) {
  .calendar-box-scroll-container {
    min-width: 300px;
    overflow-x: scroll;
  }
}
@media (min-width: 1000px) and (max-width: 1340px) {
  .button-text-size {
    font-size: 10px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .student-name-text {
    font-size: 17px;
  }
}
@media (min-width: 1200px) and (max-width: 1240px) {
  .mod-create-panel-button {
    background-color: #09bbd0;
    white-space: nowrap;
    font-size: 11px;
  }
  .mod-create-panel-button:hover {
    background-color: #0bafc2;
    font-size: 11px;
  }
  .create-slot-button {
    font-size: 11px;
  }
  .apply-button {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 11px;
  }
}
@media (min-width: 1400px) and (max-width: 2140px) {
  .mod-button-box {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
.planner-box-container{
  margin-top: 50px;
 }
@media (min-width: 350px) and (max-width: 600px) {
  .planner-box-container{
   margin-top: 50px;
  }
 }
@media (min-width: 601px) and (max-width: 900px) {
  .planner-box-container{
   margin-top: 180px;
  }
 }
@media (min-width: 901px) and (max-width: 1199px) {
  .planner-box-container{
   margin-top: 100px;
  }
 }