.left-side-box-tab,
.right-side-box-tab,
.middle-side-box-tab {
  text-align: center;
  padding: 8px 12px;
  border: 1px solid;
  border-color: #b2d0e8;
  color: #000;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.left-side-box-tab {
  border-radius: 100px 0px 0px 100px;
}

.right-side-box-tab {
  border-radius: 0px 100px 100px 0px;
}

.tab-active {
  background-color: #008CE0;
  color: #ffffff !important;
}

.segmented-button {
  align-items: center;
  display: flex;
  height: 39px;
  position: relative;
  width: 650px;
}
