.timeline-box-container{
    margin-bottom: 20px;
}
.timeline-message-card-design{
    padding: 10px;
    border: 1px solid rgb(230, 228, 228);
    margin-left: 10px;
    margin-right: 10px;
    width: 450px;
    
}
.timeline-user-icon-box{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: grid;
    place-items: center;
}
.timeline-date-time-text{
    font-size: 14px;
    color: #008CE0;
    font-weight: 600;
}
.timeline-message-text{
    font-size: 12px;
    text-align: start;
}
.timeline-day-text-box{
    width: 70px;
    height: 20px;
    border: 1px solid #EEE;
    border-radius: 2px;
    margin-left: 20px;
    display: grid;
    place-items: center;
}
.timeline-day-text-size{
    font-size: 12px;
}
.timeline-divider-design{
    border: 0;
    height: 18px;
    width: 2px;
    background-color: #e4e2e2;
    margin-left: 40px;
}
.default-add-comment-box{
    min-width: 100px;
    height: 30px;
    display: grid;
    place-items: center;
    border: 1px solid #008CE0;
    padding: 1px 12px;
}
.default-add-comment-box-text{
    font-size: 11px;
}

.timeline-comment-message-card-design2{
    padding: 10px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: auto;
}
.comment-dialog-headline-text{
color: #092C4C;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
.comment-dialog-headline-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.timeline-value-text-header{
    font-weight: 600 !important;
}
.add-secondary-mail-box{
    display: flex;
    gap: 1px;
    align-items: center;
}
.add-mail-box-container{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}
.comment-dialog-default-message-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .comment-dialog-default-message-box {
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

@media (min-width: 601px) and (max-width: 1150px) {
    .comment-dialog-default-message-box {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

.timeline-comment-message-card-design {
    padding: 10px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 450px; /* Default width */
}

@media (max-width: 400px) {
    .timeline-comment-message-card-design {
        max-width: 100%;
    }
}

@media (min-width: 401px) and (max-width: 450px) {
    .timeline-comment-message-card-design {
        width: 310px;
    }
}

@media (min-width: 451px) and (max-width: 500px) {
    .timeline-comment-message-card-design {
        width: 410px;
    }
}

@media (min-width: 551px) and (max-width: 600px) {
    .timeline-comment-message-card-design {
        width: 510px;
    }
}

@media (min-width: 601px) and (max-width: 650px) {
    .timeline-comment-message-card-design {
        width: 560px;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .timeline-comment-message-card-design {
        width: 610px;
    }
}

@media (min-width: 701px) and (max-width: 750px) {
    .timeline-comment-message-card-design {
        width: 660px;
    }
}

@media (min-width: 751px) and (max-width: 800px) {
    .timeline-comment-message-card-design {
        width: 710px;
    }
}

@media (min-width: 801px) and (max-width: 850px) {
    .timeline-comment-message-card-design {
        width: 760px;
    }
}

@media (min-width: 851px) and (max-width: 900px) {
    .timeline-comment-message-card-design {
        width: 810px;
    }
}

@media (min-width: 901px) and (max-width: 950px) {
    .timeline-comment-message-card-design {
        width: 860px;
    }
}

@media (min-width: 951px) and (max-width: 999px) {
    .timeline-comment-message-card-design {
        width: 910px;
    }
}

.timeline-newMessage-show-container{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.email-button-design-for-user-profile-timeline{
    white-space: nowrap;
    font-size: 12px !important;
    border:1px solid #008CE0 !important;
}
.email-template-box-container-user{
    min-width: 500px;
}
@media (min-width: 350px) and (max-width:450px) {
    .email-template-box-container-user{
        min-width: 300px;
    }
}
@media (min-width: 451px) and (max-width:570px) {
    .email-template-box-container-user{
        min-width: 450px;
    }
}
