.panelist-design-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.slot-planner-text {
  font-size: 22px;
  font-weight: 500;
  color: #231f20;
  white-space: nowrap;
}
.user-profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.notification-data-icon {
  width: 13px;
  height: 13px;
  font-size: 10px;
  background-color: #e06259;
  color: white;
  margin-top: 3px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.photo-box-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.create-panel-slot-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
}
.button-slot-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.button-create-panel {
  white-space: nowrap;
  background-color: #09bbd0;
  padding-left: 30px;
  padding-right: 30px;
}
.button-create-slot {
  white-space: nowrap;
  padding-left: 40px;
  padding-right: 40px;
}
.card-container {
  border: 1px solid #a8c9e5;
  border-radius: 13px;
}
.profile-photo-container-panelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkCircleIcon {
  position: absolute;
  color: #cceeff;
  font-size: 30px;
  background-color: #008be2;
  border-radius: 50%;
}
.student-info-container {
  text-align: center;
  background-color: #008ce0;
  color: white;
  border-radius: 8px;
  padding-bottom: 27px;
}
.student-name-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.UG-text {
  position: absolute;
  background-color: white;
  color: #088395;
}
.ug-card-container {
  width: 100%;
  height: 100px;
  border: 1px solid #a8c9e5;
  border-radius: 8px;
  padding: 10px;
}
.ug-text-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ug-year-marks-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  width: 70%;
}
.card-maxWidth-container-zoomPage{
  height: 90px;
  max-width: 560px;
  border: 1px solid #A8C9E5;
  border-radius: 13px;
  padding: 20px;
}
.card-maxWidth-container-dialog{
  height: 70px;
  max-width: 700px;
  border: 1px solid #A8C9E5;
  border-radius: 13px;
  padding: 10px;
}
.card-container{
  margin-top: 30px;
  
}

@media (min-width: 400px) and (max-width: 999px) {
  .card-container {
    max-width: 100%;
  }
  .slot-planner-text {
    font-size: 17px;
    margin-right: 2px;
  }
  .zoom-card-container {
    height: 500px;
    max-width: 100%;
  }
}
@media (min-width: 696px) and (max-width: 999px) {
  .card-maxWidth-container-zoomPage {
    max-width: 100%;
  }
  .card-maxWidth-container-dialog {
    max-width: 100%;
  }
}
