.preview-box {
  /* width: 500px; */
  margin: auto;
}

.preview-card {
  border-top: 2px dashed;
  border-color: hsl(212, 86%, 64%) !important;
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative;
}

.preview-card:nth-child(even):before {
  content: counter(section);
  right: 100%;
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 6px;
  height: 40px;
  width: 40px;
  background-color: blue;
  text-align: center;
  color: white;
  font-size: 110%;
}

.preview-card:nth-child(odd):before {
  content: counter(section);
  left: 100%;
  margin-left: -18px;
  position: absolute;
  border-radius: 50%;
  padding: 8px;
  height: 40px;
  width: 40px;
  background-color: blue;
  text-align: center;
  color: white;
  font-size: 110%;
}

.preview-card:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.preview-card:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.preview-card:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.preview-card:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.inner-box {
  background-color: green;
  padding: 12px;
  margin-right: 35px;
}

/* single card with shadow*/
.single-card p {
  color: hsl(229, 6%, 66%);
}

.single-card {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 20px;
}

.cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}
