.charts{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.chart1{
    border: 1px solid rgba(207, 190, 190, 0.664) !important;
    background-color: rgba(245, 245, 245, 0.582);
    padding: 10px;
    width: 600px;
}

.padding{
    margin: 20px !important;
}
.quick-right-area .rs-picker-toggle-wrapper {
    width: 200px;
    margin-right: 10px;
}