.reportContainer {
  max-width: 95%;
  margin: 0 auto;
}
.reportFilter {
  margin: 10px 0 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
/* .reportContainer .rs-picker-toggle-wrapper {
  width: 250px !important;
} */
.reportFilter .rs-picker-toggle-wrapper {
  min-width: 160px !important;
  max-width: 200px !important;
}
/* .select-picker {
  margin: 10px 10px 10px 0px !important;
  width: 224px;
} */
.report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
}
.view-report-icon {
  cursor: pointer;
}
.report-filter-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0px;
}
.report-multiple-filter-details {
  font-size: 0.875rem;
  list-style-type: circle;
  margin-bottom: 0;
  width: 35%;
  padding-left: 16px;
}
.report-details-desc {
  border: 1px solid #e6e8f0;
  padding: 8px;
  border-radius: 5px;
}
.report-icon-button {
  color: rgb(70, 70, 254);
}
.report-template-container {
  padding: 26px 36px;
  margin: 50px 0 20px 0px;
  border-radius: 20px;
}
.report-template-container > p {
  font-size: 14px;
  font-weight: 700;
  color: #092c4c;
  margin-bottom: 9px;
}
.report-template-container > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.report-template-container > div > p {
  border-radius: 8px;
  border: 1px solid #008be2;
  padding: 6px 1rem;
  cursor: pointer;
  position: relative;
  color: #092c4c;
  font-size: 14px;
  font-weight: 400;
}
.report-template-container > div > p:hover img {
  visibility: visible;
  transition: 0.3s ease;
}
.report-template-container > div > p > img {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}
.report-create-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.report-create-header > p {
  font-size: 18px;
  font-weight: 500;
  color: #121828;
}
.report-create-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.report-create-details label {
  font-size: 14px !important;
}
.report-add-column-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e93;
  font-size: 10px;
  font-weight: 400;
  padding: 8px 32px;
  border-radius: 8px;
  border: 1px solid #0583d2;
  background-color: transparent;
  gap: 2px;
}
.report-generate-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.sent-it-over-mail-confirmation {
  display: flex;
  align-items: center;
  gap: 3px;
}
.sent-it-over-mail-confirmation > p {
  font-size: 13px;
  font-weight: 500;
}
.report-add-column-button > svg {
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .reportContainer {
    max-width: 100%;
  }
  .report-actions {
    justify-content: space-between;
  }
}
.report-header-box-container {
  margin-top: 60px;
}
@media (min-width: 350px) and (max-width: 600px) {
  .report-header-box-container {
    margin-top: 50px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .report-header-box-container {
    margin-top: 180px;
  }
}
@media (min-width: 901px) and (max-width: 1199px) {
  .report-header-box-container {
    margin-top: 100px;
  }
}
.report-table-card-container {
  padding: 32px;
  border-radius: 20px !important;
  box-shadow: 0px 10px 60px 0px #e2ecf980 !important;
}
.auto-scheduled-table-report-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.auto-scheduled-headline-text {
  color: #231f20 !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}
.auto-scheduled-report-name-text {
  color: #121828;
  font-size: 16px;
  font-weight: 500 !important;
  line-height: normal;
}
.auto-scheduled-report-days-text {
  color: #65748b;
  font-size: 12px;
  font-weight: 400 !important;
  line-height: normal;
}
.auto-scheduled-date-text-size {
  color: #092c4c !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  white-space: nowrap;
}
.button-design-counsellor-search {
  color: rgb(10, 10, 10);
}
.generate-new-report-button-box {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.generate-new-report-button {
  height: 40px;
  background-color: #008be2 !important;
  padding: 10px 24px !important;
}
.reports-action-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* background-color: red; */
}
.reports-action-card {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px;
  padding: 1.5rem;
  position: fixed;
  bottom: 30px;
}
@media (min-width: 1400px) and (max-width: 3200px) {
  .reports-action-card {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
    padding: 1.5rem;
    position: fixed;
    bottom: 10%;
  }
}
.action-button-box {
  color: #121828;
  font-size: 14px;
  font-weight: 400 !important;
}
.custom-date-time-box-picker
  > .css-qx3cde-MuiInputBase-root-MuiOutlinedInput-root
  > .css-1vvw2hi-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 14px !important;
}

.generate-contained-button-disabled {
  height: 38px;
  border-radius: 30px !important;
  border: 1px solid #fff !important;
  background: #f0f1f2;
  padding: 10px 25px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #dedede;
}
.common-outlined-button-disabled {
  height: 38px;
  border-radius: 30px !important;
  background: #f0f1f2;
  padding: 10px 25px !important;
  border: 1px solid #fff !important;
  color: #dedede;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.input-field-height-report{
  height: 37px !important;
  
}
.input-field-height-report::placeholder{
  font-size: 12px;
}
.report-input-label {
  font-size: 12px;
  font-weight: 400;
  color: #8E8E93;
  top: 2px
}

.report-input-root .report-notched-outline {
  border-color: #E6E8F0;
  font-size: 12px;
  color: #B3D2E2 !important;
}

.report-input-root.Mui-focused .report-notched-outline,
.report-input-root:hover .report-notched-outline,
.report-text-root:hover .report-text-notched-outline {
  border-color: white !important;
  font-size: 12px;
  color: #3498ff !important;
}

.report-text-root.Mui-focused .report-text-notched-outline,
.report-text-root .report-text-notched-outline {
  border-color: white !important;
}

.report-input-label.Mui-focused {
  color: #8E8E93;
}

.report-input-label.Mui-focused {
  top: 2px;
}
.report-input-root input {
  padding: 8.5px 14px;
}
.report-date-range-container{
  display: flex;
}
