.settings-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 30px auto;
}

/* .settings-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.settings-user-data-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.assigned-college-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.settings-user-data-key {
    width: 200px;
    font-weight: 500;
}

.settings-user-data-value {
    color: rgb(94, 90, 90);
}

.user-assigned-college {
    display: flex;
    flex-wrap: wrap;
}

.capitalize-text {
    text-transform: capitalize;
}

@media screen and (max-width: 749px) {
    .settings-user-data-key {
        width: 150px;
    }
}

@media screen and (max-width: 506px) {
    .settings-user-data-row {
        display: block;
        margin-bottom: 15px;
    }

    .settings-user-data-key {
        font-size: 14px;
    }
}
.settings-header-box-container{
    margin-top: 40px;
   }
  @media (min-width: 350px) and (max-width: 600px) {
    .settings-header-box-container{
     margin-top: 50px;
    }
   }
  @media (min-width: 601px) and (max-width: 900px) {
    .settings-header-box-container{
     margin-top: 180px;
    }
   }
  @media (min-width: 901px) and (max-width: 1199px) {
    .settings-header-box-container{
     margin-top: 100px;
    }
   }