#ticket-manage-tab-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket-manage-button {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    margin-right: 20px !important;
}

.details-box {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    flex-direction: column;
    color: inherit;
    background: var(--ds-background-card, white);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-image: initial;
    border-radius: 3px;
    border-left: 20px solid var(--ds-accent-subtleTeal, #ff765e);
    box-sizing: border-box;
    box-shadow: var(--ds-card, 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
    transition: box-shadow 0.3s ease-in-out 0s, border-color 0.6s ease-in 0s;
}