.rs-toast-container {
  z-index: 10000;
}
.wrapper {
  margin-top: 45px !important;
  width: 380px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
}

.toast {
  width: 100%;
  min-height: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.success {
  border-left: 8px solid #47d764;
}

.error {
  border-left: 8px solid #ff355b;
}

.info {
  border-left: 8px solid #2f86eb;
}

.warning {
  border-left: 8px solid #ffc021;
}

.error i {
  color: #ff355b;
}

.info i {
  color: #2f86eb;
}

.warning i {
  color: #ffc021;
}

.toast:not(:last-child) {
  margin-bottom: 50px;
}

.container-1,
.container-2 {
  align-self: center;
}

.container-1 i {
  font-size: 35px;
}

.success i {
  color: #47d764;
}

.container-2 p:first-child {
  color: #101020;
  font-weight: 600;
  font-size: 16px;
}

.container-2 p:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #656565;
}

.toast button {
  align-self: flex-start;
  background-color: transparent;
  font-size: 25px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
}
