.channel-wise-container {
    display: flex;
    flex-direction: column;
}

.top-performing-fab-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}


.topPerformingTable {
    border-radius: 20px;
    background: #FFF;
    padding: 15px;
    box-shadow: 0px 0px 60px 1px rgba(228, 228, 228, 0.50);
    margin-top: 25px;
}

.topPerformingTable1 {
    border-radius: 8px;
    background: #FFF;
    padding: 15px;
    box-shadow: 0px 0px 60px 1px rgba(228, 228, 228, 0.50);
    margin-top: 25px;
}


.top-performing-fab {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 37px;
    height: 23px;
}

.top-performing-table-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.top-performing-table-box-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.top-performing-table-box-percentage {
    font-size: 12px;
}

@media only screen and (max-width: 850px) {
    .chart-xx-axis-lables {
        display: none;
    }
}