.user-manager-edit-info-head-container{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 40px;
    margin-bottom: 10px;
}
.user-manager-edit-info-head-text{
    font-size: 20px;
    font-weight: 700;
}
.user-manager-edit-info-name-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.user-manager-edit-info-name-head{
    font-weight: 500;
    font-size: 16px;
    margin-top:12px;
}
.user-manager-edit-info-name-box-text{
    
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 310px;
}
.user-manager-edit-info-box-data-container{
    padding: 20px 50px 20px 65px;
}