.tree ,.li-child{
    line-height: 1.2;
    position: relative;
    padding: 0 0 1em 1em
}
.tree_label {
    position: relative;
    }
 .li-child:before {
        position: absolute;
        top: .2em;
        bottom: .9em;
        left: -.8em;
        display: block;
        width: 0;
        border-left: 1px dotted #777;
        content: "";
        }    
.tree_label_listItem:after {
    position: absolute;
    top: .3em;
    left: -.8em;
    display: block;
    height: 1.0em;
    width: 1.5em;
    border-bottom: 1px dotted #777;
    border-left: 1px dotted #777;
    border-radius: 0 0 0 .2em;
    content: '';
}
.tree li:last-child:before {
    height: 1em;
    bottom: auto;
    }
        
.listItem-box-container{
    border: 1px solid gray;
    display: grid;
    place-items:center;
    margin-right: 4px;
    border-radius: 5px;
}
.faqs-accord-icon-height-weight{
    height: 15px;
    width: 15px;
    color: black;
   
}
.listItemText-design{
    color: red;
    font-size: 10px;
}
.css-1tj6nfe-MuiTypography-root {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    display: block;
}
.css-lixohr-MuiTypography-root {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.57;
    font-family: "Roboto",sans-serif;
    color: #1c1c1c;
    display: block;
}





 

  

  
    