.zoomPage-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.zoom-page-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.zoom-page-info-data-container-many-student {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 0%;
}
.zoom-page-text-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.zoom-page-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zoom-page-weightage-text {
  position: absolute;
  background-color: white;
  font-size: 12px;
  font-weight: 800;
  color: #008ce0;
}
.zoom-page-slider-data {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.zoom-page-submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.zoom-page-profile-photo-container-panelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.zoom-page-small-profile-photo-design {
  vertical-align: top;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: relative;
  width: 100%;
  height: 100%;
}
.center .slick-center img {
  opacity: 1;
  transform: scale(1.08);
  height: 55px !important;
  width: 54px !important;
}
.center-div {
  text-align: center !important;
}
.zoom-page-pdf-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zoom-page-pdf-box-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 350px) and (max-width:999px) {
.zoom-card-container{
  height: 400px;
}
}
@media (min-width: 350px) and (max-width:500px) {
  .zoom-page-student-profile-photo-container{
    width: 250px;
    overflow-x: scroll;
  }
  }
@media (min-width: 501px) and (max-width:700px) {
  .zoom-page-student-profile-photo-container{
    width: 300px;
    overflow-x: scroll;
  }
  }
@media (min-width: 1000px) and (max-width:1200px) {
.zoom-page-student-profile-photo-container{
  width: 250px;
  overflow-x: scroll;
}
}
@media (min-width: 1200px) and (max-width:1400px) {
.zoom-page-student-profile-photo-container{
  max-width: 310px;
  overflow-x: scroll;
}
}
@media (min-width: 1400px) and (max-width:1550px) {
.zoom-page-student-profile-photo-container{
  max-width: 340px;
  overflow-x: scroll;
}
}
@media (min-width: 1551px) and (max-width:1900px) {
.zoom-page-student-profile-photo-container{
  width: 370px;
  overflow-x: scroll;
}
}
